### 과제
**1. 남자와 여자를 주민번호를 통해 몇 명 있는지 분류하라**  
**2. 가장 많이 쓰는 웹사이트(이메일을 보고 판단)은 무엇인가**  
**3. 가장 나이가 많은 사람과 가장 나이가 어린 사람은 몇 살인가**  
**4. 잘못된 주민번호가 있다면 찾고 이유를 밝혀라**

------

In [58]:
class AutoProcessing:
    
    def __init__(self, line):
        self.__name = line.split()[0]
        self.__tel = line.split()[1]
        self.__id = line.split()[2]
        self.__mail = line.split()[-1]
        
        if self.__id.split("-")[-1][0] in ("9", "1", "3", "5", "7"):
            self.__sex = "Male"

        else:
            self.__sex = "Female"

    def seedata(self):
        print("Name:", self.__name)
        print("Tel.:", self.__tel)
        print("ID:", self.__id)
        print("E-mail:", self.__mail)
        print("Sex:", self.__sex)
        
    def export_to_sql(self):
        sql = """INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('%s', '%s', '%s', '%s', '%s');""" %(self.__name, self.__tel, self.__id, self.__mail, self.__sex)
        
        return sql

In [59]:
import pymysql as pms

cnx = pms.connect(host = "plen-tutoring.mysql.database.azure.com", 
                  port = 3306, 
                  user = "plentir@plen-tutoring", 
                  password = "yjy990810!", 
                  database = "PyMySQL_test", 
                  charset = "utf8")

cursor = cnx.cursor()

In [61]:
mk_table = """CREATE TABLE person(
ID INT UNSIGNED NOT NULL AUTO_INCREMENT, 
Name VARCHAR(20) NOT NULL, 
RRN VARCHAR(30) NULL, 
Tel VARCHAR(20) NULL, 
Email VARCHAR(30) NULL, 
Sex VARCHAR(10) NULL, 
PRIMARY KEY(ID)
) DEFAULT CHARSET = utf8 AUTO_INCREMENT = 1;
"""

cursor.execute(mk_table)

0

In [60]:
sql = "DROP TABLE person"

cursor.execute(sql)

0

In [62]:
import os

files = os.listdir(os.environ["USERPROFILE"] + "/desktop/과제2/")

for i in range(50):
    f = open(os.environ["USERPROFILE"] + "/desktop/과제2/" + files[i], "r")
    raw_data = f.readline()
    
    a = AutoProcessing(raw_data)
    sql = a.export_to_sql()
    
    cursor.execute(sql)
    
    print(sql)
    
    f.close()

print("end")

cnx.commit()
print("커밋됨.")

cnx.close()

INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('윤민준', '010-7336-6539', '660709-2642204', 'RM782@nate.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최하준', '010-9277-6466', '101106-2491983', 'PT8401@nate.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('장승호', '010-6048-6678', '600917-1062539', 'GO24-@nate.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박석호', '010-3884-1425', '130727-1642734', 'QR5864@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서장우', '010-1522-5259', '730526-1033712', 'SA860@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서서환', '010-4933-4072', '440909-2522587', 'ZN259@hanmail.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박호재', '010-9816-1471', '200707-2274916', 'IA53-@google.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최담', '010-8302-4330', '520204-1831938', 'NP2218@hanmail.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최이환', '010-4476-3580', '981026-1027236', 'BW23-10@nate.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박희건', '010-5228-5432', '690827-1956807', 'WL6382@hanmail.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('김인찬', '010-1499-3109', '941105-2441077', 'BN232@naver.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서리온', '010-3019-8824', '430518-1262290', 'TC5862@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박태서', '010-4310-9528', '311017-2921171', 'QT7092@hanmail.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('정대경', '010-5691-1036', '060709-1362093', 'JH9560@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('윤기성', '010-4843-2311', '481104-1949365', 'DW60-1@hotmail.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('정진모', '010-9739-3001', '530928-1849556', 'UK550@google.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서인규', '010-6878-6872', '031202-1724961', 'LZ46031@nate.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서루이', '010-5394-8061', '290718-2182470', 'OP122@google.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서수', '010-9028-8577', '181025-1692516', 'IS5181@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('정보현', '010-1087-3808', '700208-2381878', 'CC738@google.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최대환', '010-2638-3989', '930624-1979262', 'JO30792@naver.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서중현', '010-3401-6002', '711120-1600529', 'ZC547@hanmail.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박민구', '010-2013-1316', '050722-2202374', 'UR30023@nate.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('이강유', '010-8081-2522', '401226-1803052', 'WF284@hanmail.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서현오', '010-7662-6204', '641022-1972381', 'GW50022@naver.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서강후', '010-7132-1357', '331006-1730472', 'HD7906@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('정주윤', '010-3390-3912', '660204-2768984', 'OZ78-2@hanmail.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('장찬욱', '010-5106-4991', '420209-2210234', 'TO9209-@daum.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최동완', '010-8821-1032', '320303-2010973', 'RI70-@hanmail.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서경수', '010-6752-8108', '360118-1849384', 'AN90601@hotmail.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박재석', '010-9237-2979', '720927-2072009', 'MH152@hanmail.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서하담', '010-8944-5047', '170123-2004931', 'OB410@google.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('이리호', '010-3965-8321', '730118-2323405', 'YK622@hotmail.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('정다겸', '010-3798-9741', '700621-2846602', 'NG8628@google.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('이용하', '010-2941-8347', '720218-1285899', 'SS2018@nate.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('김훤', '010-6058-5376', '680918-1147335', 'ZZ87918@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최우경', '010-7382-7801', '321113-1509081', 'FN171@nate.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박로건', '010-3185-8665', '620429-1079131', 'NT63-10@google.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박서인', '010-6918-1933', '440719-1242647', 'TX3707@nate.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박도완', '010-4853-6333', '310617-1471512', 'GP47471@daum.net', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('서유', '010-6572-9170', '201022-1216670', 'VJ4912@google.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('윤기주', '010-2408-9182', '770922-2834367', 'EY45834@hotmail.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('최호민', '010-3895-9824', '981227-2626509', 'QI54981@hotmail.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('박홍준', '010-5660-1191', '020911-2359386', 'ES6759@nate.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('윤용빈', '010-7966-1129', '310315-2592135', 'KH1215@hotmail.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('이해인', '010-6619-9441', '870110-2129830', 'DH9470@nate.com', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('정태운', '010-8929-4145', '741210-2711089', 'OR120@daum.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('장이솔', '010-1441-9264', '170111-1899947', 'NZ8111@naver.com', 'Male');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('이승건', '010-6853-8720', '221030-2333003', 'KY460@hanmail.net', 'Female');
INSERT INTO person(Name, RRN, Tel, Email, Sex)
VALUES ('김대희', '010-3866-3273', '270817-2524869', 'YK3817@google.com', 'Female');
end
커밋됨.

In [63]:
inquiry = """
SELECT *
FROM person
ORDER BY ID DESC
"""

cursor.execute(inquiry)

InterfaceError: (0, '')

In [4]:
def processor(index, splitter = None, target = None, start = 0, end = None):
    import os
    
    prc_data = []
        
    files = os.listdir(os.environ["USERPROFILE"] + "/desktop/과제2/")
    
    if target is None:
        for i in files:
            f = open(os.environ["USERPROFILE"] + "/desktop/과제2/" + i, "r")
            
            raw_data = f.readline().split()
            
            prc_data.append(raw_data[index].split(splitter)[start : end])
            
            f.close()
    
    else:
        for i in files:
            f = open(os.environ["USERPROFILE"] + "/desktop/과제2/" + i, "r")
            
            raw_data = f.readline().split()
            
            prc_data.append(raw_data[index].split(splitter)[target][start : end])
            
            f.close()
    
    return prc_data

In [6]:
def count(key = None):
    
    if key == "sex":  # 남자/여자 인원 수 세기
        n_male = n_female = 0
        
        data = processor(index = -2, splitter = "-", target = -1, end = 1)
        
        for i in data:
            if i in ("9", "1", "3", "5", "7"):
                n_male += 1
            
            else:
                n_female += 1
        
        print("Male:", n_male)
        print("Female:", n_female)
        
        return (n_male, n_female)
                  
    
    elif key == "portals":  # 가장 많이/적게 쓰는 포탈 찾기
        portals = processor(index = -1, splitter = "@", target = -1)

        user_num = {}

        for p in set(portals):
            user_num[p] = portals.count(p)

        temp = tuple(user_num.items())

        _mx = max(temp[n][-1] for n in range(len(temp)))
        _mn = min(temp[n][-1] for n in range(len(temp)))

        for n in range(len(temp)):
            
            if _mx is temp[n][-1]:
                most_used = temp[n][0]

            elif _mn is temp[n][-1]:
                least_used = temp[n][0]

        print("Most used portals: %s (%s)" %(most_used, _mx))
        print("Least used portals: %s (%s)" %(least_used, _mn))
    
        return user_num
                
        
    elif key == "ages":  # 가장 늙은/어린 사람의 나이 찾기
        raw_ages = processor(index = -2, splitter = "-", target = 0, end = 2)
        ages = []
        
        for n in range(len(raw_ages)):
            
            if int(raw_ages[n]) <= 19 and int(raw_ages[n]) >= 0:
                ages.append(19 - int(raw_ages[n]) + 1)
                
            else:
                ages.append(119 - int(raw_ages[n]) + 1)
    
        print("Youngest person: %s years old" %max(ages))
        print("Oldest person: %s years old" %min(ages))
        
        return (max(ages), min(ages))
    
    else:
        print("잘못된 인수를 입력했습니다.")
        
        return 1
    

if __name__ == "__main__":
    count("sex")
    count("portals")
    count("ages")

Male: 10000
Female: 10000
Most used portals: daum.net (3438)
Least used portals: nate.com (3252)
Youngest person: 100 years old
Oldest person: 1 years old

------
### MySQL table 생성하기

    CREATE TABLE testTable(                               (1)
      id INT(11) NOT NULL AUTO_INCREMENT,                 (2)
      name VARCHAR(20) NOT NULL,                          (3)
      ouccupation VARCHAR(20) NULL,                       (4)
      height SMALLINT,                                    (5)
      profile TEXT NULL,                                  (6)
      date  DATETIME,                                     (7)
      CONSTRAINT testTable_PK PRIMARY KEY(id)             (8)
    );
------
(1) 테이블을 생성하는 명령어입니다.  
(2) id라는 컬럼을 추가하는 데, INT 타입으로 지정합니다. NOT NULL은 값을 비워둘 수 없음을 의미합니다. AUTO_INCREMENT는 자동으로 값이 1씩 증가하도록 설정하는 옵션입니다.  
(3) name이라는 컬럼을 추가하는데, 가변길이로 20글자까지 허용합니다. (20글자가 넘어가면 20글자에서 자릅니다.)  
(4) 위와 동일하지만, 값을 비워두는 것을 허용합니다.  
(5) SMALLINT는 INT보다 가질 수 있는 값의 범위가 작습니다. 메모리 측면에서 이득입니다.  
(6) TEXT는 아주 긴 문자열을 취급할 때 사용합니다.  
(7) DATETIME은 날짜와 시간에 관한 타입입니다.  
(8) CONSTRAINT는 제약조건이라는 의미입니다. testTable의 PRIMARY KEY를 id 컬럼으로 지정하겠다는 의미이며, 이 제약조건의 이름을 testTable_PK로 지정한 것입니다.

------
그 외의 옵션으로도 많은 값이 올 수 있습니다.  중요 기능 두 가지만 더 살펴봅시다.  
- CHECK : 값의 범위를 제한합니다.  
- FOREIGN KEY : 다른 테이블과 JOIN할 때 사용합니다.

[출처](https://blog.naver.com/pjok1122/221539169731)

-----

In [1]:
import pymysql as pms

cnx = pms.connect(host = "plen-tutoring.mysql.database.azure.com", 
                  port = 3306, 
                  user = "plentir@plen-tutoring", 
                  password = "yjy990810!", 
                  database = "web_crawling", 
                  charset = "utf8")

cursor = cnx.cursor()

In [4]:
mk_table = """
CREATE TABLE naver_searchkwds(
    ID INT UNSIGNED NOT NULL AUTO_INCREMENT,
    Date VARCHAR(50) NULL,
    Rank SMALLINT NOT NULL,
    Keyword VARCHAR(50) NOT NULL,
    PRIMARY KEY(ID)
) DEFAULT CHARSET = utf8 AUTO_INCREMENT = 1;
"""

cursor.execute(mk_table)

cursor.execute("SHOW TABLES;")

1

In [3]:
name_table = "naver_searchkwds"

cursor.execute("DROP TABLE %s;" %name_table)

0

In [5]:
name_table = "naver_searchkwds"

cursor.execute("DESC %s;" %name_table)

4

In [7]:
inquiry = """
SELECT ID, Date AS 날짜, Rank AS 순위, Keyword AS 검색어
FROM naver_searchkwds
ORDER BY ID DESC
"""

cursor.execute(inquiry)

# result = cursor.fetchall()

0