[강의 자료 열람하는 곳](https://blog.naver.com/yangha1000)

In [109]:
import pandas as pd  # 데이터 분석을 간편하게 수행하기 위한 모듈.
import numpy as np  # 배열 데이터를 처리할 수 있게 해줌.

In [110]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])  # np.nan은 null 값을 반환함. NaN으로 표시됨.
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [111]:
dates = pd.date_range("20190507", freq = "D", periods = 7)  # freq는 "D", M", "Y" 등을 값으로 가지는 변수로, 설정된 기간을 무엇을 기준으로 반환할지 결정.periods는 기간을 설정하는 변수.
dates

DatetimeIndex(['2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
               '2019-05-11', '2019-05-12', '2019-05-13'],
              dtype='datetime64[ns]', freq='D')

In [112]:
df = pd.DataFrame(np.random.randn(7, 4), index = dates, columns = ["A", "B", "C", "D"])  # np.random.randn(7, 4)는 총 7행 x 4열 프레임에 난수를 채워넣겠다는 의미이다.
df

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989
2019-05-10 -1.564779  1.398910  0.387942 -1.090626
2019-05-11  0.304995  0.359195 -1.405268 -0.447880
2019-05-12 -0.630958  0.396504  1.239522  0.207337
2019-05-13  0.595265  1.668330  0.585145  0.175871

In [113]:
df.head(7)  # df.head([line #], [sort])를 사용하면 기본적으로 5개의 행만 보임. [line # = int]를 입력하면 그 수만큼 행을 표시함.
# [sort = ]를 입력하면

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989
2019-05-10 -1.564779  1.398910  0.387942 -1.090626
2019-05-11  0.304995  0.359195 -1.405268 -0.447880
2019-05-12 -0.630958  0.396504  1.239522  0.207337
2019-05-13  0.595265  1.668330  0.585145  0.175871

In [114]:
df.index

DatetimeIndex(['2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
               '2019-05-11', '2019-05-12', '2019-05-13'],
              dtype='datetime64[ns]', freq='D')

In [115]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [116]:
df.values

array([[ 0.23801104,  0.01414055, -1.88830859, -0.9275091 ],
       [ 0.95969574, -0.22532011,  1.03259069,  0.33666073],
       [ 1.67273121,  2.3506061 ,  0.69739599, -0.19198898],
       [-1.56477886,  1.39891041,  0.38794186, -1.09062646],
       [ 0.30499514,  0.35919543, -1.40526763, -0.4478798 ],
       [-0.6309578 ,  0.39650378,  1.23952242,  0.20733697],
       [ 0.59526542,  1.66833034,  0.5851453 ,  0.17587073]])

In [117]:
df.info

<bound method DataFrame.info of                    A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989
2019-05-10 -1.564779  1.398910  0.387942 -1.090626
2019-05-11  0.304995  0.359195 -1.405268 -0.447880
2019-05-12 -0.630958  0.396504  1.239522  0.207337
2019-05-13  0.595265  1.668330  0.585145  0.175871>

In [118]:
df.describe()  # 통계학적 값을 자동으로 계산하여 출력해줌. 자료의 개수(count), 평균(mean) 등등.

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.224995  0.851767  0.092717 -0.276877
std    1.057934  0.959539  1.228971  0.568306
min   -1.564779 -0.225320 -1.888309 -1.090626
25%   -0.196473  0.186668 -0.508663 -0.687694
50%    0.304995  0.396504  0.585145 -0.191989
75%    0.777481  1.533620  0.864993  0.191604
max    1.672731  2.350606  1.239522  0.336661

In [119]:
df.sort_values(by = "B", ascending = True)  # by = "기준 행", ascending = False / True 내림차순, 오름차순

                   A         B         C         D
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-11  0.304995  0.359195 -1.405268 -0.447880
2019-05-12 -0.630958  0.396504  1.239522  0.207337
2019-05-10 -1.564779  1.398910  0.387942 -1.090626
2019-05-13  0.595265  1.668330  0.585145  0.175871
2019-05-09  1.672731  2.350606  0.697396 -0.191989

In [120]:
df["A"]

2019-05-07    0.238011
2019-05-08    0.959696
2019-05-09    1.672731
2019-05-10   -1.564779
2019-05-11    0.304995
2019-05-12   -0.630958
2019-05-13    0.595265
Freq: D, Name: A, dtype: float64

In [121]:
df[0:3]

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989

In [122]:
df["20190507" : "20190509"]

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989

In [123]:
df.loc[dates[0]]  # dates의 0번째 행에 있는 요소들을 출력함.

A    0.238011
B    0.014141
C   -1.888309
D   -0.927509
Name: 2019-05-07 00:00:00, dtype: float64

In [124]:
df.loc["20190507" : "20190509", "A" : "C"]  # 행과 열의 값을 직접 입력하여 슬라이싱 가능

                   A         B         C
2019-05-07  0.238011  0.014141 -1.888309
2019-05-08  0.959696 -0.225320  1.032591
2019-05-09  1.672731  2.350606  0.697396

In [125]:
df.iloc[3]  # index 번호로 데이터 찾기

A   -1.564779
B    1.398910
C    0.387942
D   -1.090626
Name: 2019-05-10 00:00:00, dtype: float64

In [126]:
df.iloc[3:5, 0:2]  # 연속하는 여러 개의 행과 열을 슬라이싱과 같은 방식으로 반환시킬 수 있음

                   A         B
2019-05-10 -1.564779  1.398910
2019-05-11  0.304995  0.359195

In [127]:
df.iloc[[1, 2, 5], [0, 2]]  # 연속하지 않는 여러 개의 행과 열을 반환할 수 있음.

                   A         C
2019-05-08  0.959696  1.032591
2019-05-09  1.672731  0.697396
2019-05-12 -0.630958  1.239522

In [128]:
df.iloc[:, [0, 2]]  # 슬라이싱과 같은 방법으로 : 만 입력하면 전체를 의미함.

                   A         C
2019-05-07  0.238011 -1.888309
2019-05-08  0.959696  1.032591
2019-05-09  1.672731  0.697396
2019-05-10 -1.564779  0.387942
2019-05-11  0.304995 -1.405268
2019-05-12 -0.630958  1.239522
2019-05-13  0.595265  0.585145

In [129]:
df

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989
2019-05-10 -1.564779  1.398910  0.387942 -1.090626
2019-05-11  0.304995  0.359195 -1.405268 -0.447880
2019-05-12 -0.630958  0.396504  1.239522  0.207337
2019-05-13  0.595265  1.668330  0.585145  0.175871

In [130]:
df[df.A > 0]  # 조건에 맞는 데이터만 반환함.

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  0.959696 -0.225320  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396 -0.191989
2019-05-11  0.304995  0.359195 -1.405268 -0.447880
2019-05-13  0.595265  1.668330  0.585145  0.175871

In [131]:
df[df > 0]  # 표 전체에서 조건에 맞는 데이터만 반환. 단, 이 경우에는 조건과 맞지 않는 값이 Null 값(NaN)으로 반환됨.

                   A         B         C         D
2019-05-07  0.238011  0.014141       NaN       NaN
2019-05-08  0.959696       NaN  1.032591  0.336661
2019-05-09  1.672731  2.350606  0.697396       NaN
2019-05-10       NaN  1.398910  0.387942       NaN
2019-05-11  0.304995  0.359195       NaN       NaN
2019-05-12       NaN  0.396504  1.239522  0.207337
2019-05-13  0.595265  1.668330  0.585145  0.175871

In [132]:
df2 = df.copy()  # df의 데이터를 df2로 복사하기.
df2["F"] = ["One", "Two", "Three", "Four", "Five", "Six", "Seven"]  # 새로운 값 추가
df2

                   A         B         C         D      F
2019-05-07  0.238011  0.014141 -1.888309 -0.927509    One
2019-05-08  0.959696 -0.225320  1.032591  0.336661    Two
2019-05-09  1.672731  2.350606  0.697396 -0.191989  Three
2019-05-10 -1.564779  1.398910  0.387942 -1.090626   Four
2019-05-11  0.304995  0.359195 -1.405268 -0.447880   Five
2019-05-12 -0.630958  0.396504  1.239522  0.207337    Six
2019-05-13  0.595265  1.668330  0.585145  0.175871  Seven

In [133]:
df2["F"].isin(["Two", "Four", "Seven"])  # df2에서 이름이 "F"인 열의 값들 중, isin에 넣은 값 중 하나가 포함된 셀을 False/True로 반환

2019-05-07    False
2019-05-08     True
2019-05-09    False
2019-05-10     True
2019-05-11    False
2019-05-12    False
2019-05-13     True
Freq: D, Name: F, dtype: bool

In [134]:
# 위의 내용을 표로 반환하고 싶다면 이렇게.
df2[df2["F"].isin(["Two", "Four", "Seven"])]

                   A        B         C         D      F
2019-05-08  0.959696 -0.22532  1.032591  0.336661    Two
2019-05-10 -1.564779  1.39891  0.387942 -1.090626   Four
2019-05-13  0.595265  1.66833  0.585145  0.175871  Seven

In [135]:
df.apply(lambda x: x.max() - x.min())  # apply()는 함수를 적용할 때 사용. 여기서 사용한 함수는 그냥 각 행의 최대값에서 최소값을 뺀 것을 출력하는 함수.

A    3.237510
B    2.575926
C    3.127831
D    1.427287
dtype: float64

In [136]:
df.apply(np.cumsum)  # 누적값을 구하는 함수를 적용한 경우.

                   A         B         C         D
2019-05-07  0.238011  0.014141 -1.888309 -0.927509
2019-05-08  1.197707 -0.211180 -0.855718 -0.590848
2019-05-09  2.870438  2.139427 -0.158322 -0.782837
2019-05-10  1.305659  3.538337  0.229620 -1.873464
2019-05-11  1.610654  3.897532 -1.175648 -2.321344
2019-05-12  0.979696  4.294036  0.063875 -2.114007
2019-05-13  1.574962  5.962366  0.649020 -1.938136