## 배열 병합 (pandas 모듈)
어제 했던 거에 추가 설명

In [44]:
import pandas as pd

In [45]:
df1 = pd.DataFrame({"A": ["A0", "A1", "A2", "A3"],
                   "B": ["B0", "B1", "B2", "B3"],
                   "C": ["C0", "C1", "C2", "C3"],
                   "D": ["D0", "D1", "D2", "D3"]},
                  index = [0, 1, 2, 3])

df2 = pd.DataFrame({"A": ["A4", "A5", "A6", "A7"],
                   "B": ["B4", "B5", "B6", "B7"],
                   "C": ["C4", "C5", "C6", "C7"],
                   "D": ["D4", "D5", "D6", "D7"]},
                  index = [4, 5, 6, 7])

df3 = pd.DataFrame({"A": ["A8", "A9", "A10", "A11"],
                   "B": ["B8", "B9", "B10", "B11"],
                   "C": ["C8", "C9", "C10", "C11"],
                   "D": ["D8", "D9", "D10", "D11"]},
                  index = [8, 9, 10, 11])
# index는 넘버링을 해주는 것일 뿐임. 병합 시에 index 순서에 맞춰서 합쳐지는 것이 아니라 단순히 맨 끝에 덧붙여짐.

In [46]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [47]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [48]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [49]:
res = pd.concat([df1, df2, df3])
res

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [50]:
res = pd.concat([df1, df2, df3], keys = ["x", "y", "z"])  # keys 변수를 통해 표의 단계를 만들 수 있음.
res

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [51]:
res.index  # keys 변수로 지정한 단계별로 표의 index가 출력됨

MultiIndex(levels=[['x', 'y', 'z'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           codes=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]])

    MultiIndex(levels=[['x', 'y', 'z'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           codes=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]])
           
codes의 첫 번째 리스트는 x, y, z로 표시한 단계를 의미, 두 번째 리스트는 0 ~ 11까지로 표시한 단계를 의미

In [52]:
res.index.get_level_values(0)  # 각 행이 어떤 단계에 속해 있는지 출력함.

Index(['x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'z', 'z', 'z', 'z'], dtype='object')

In [53]:
res.index.get_level_values(1)  # 괄호 안에 값을 넣으면 그 값만큼 단계를 더 들어가서 출력함.

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [54]:
df4 = pd.DataFrame({"B": ["B2", "B3", "B6", "B7"],
                   "D": ["D2", "D3", "D6", "D7"],
                   "F": ["F2", "F3", "F6", "F7"]},
                  index = [2, 3, 6, 7])

res = pd.concat([df1, df4], axis = 1)  # axis = 1 이면 열 방향으로 자료를 추가함.
res

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [55]:
df4 = pd.DataFrame({"B": ["B2", "B3", "B6", "B7"],
                   "D": ["D2", "D3", "D6", "D7"],
                   "F": ["F2", "F3", "F6", "F7"]},
                  index = [2, 3, 6, 7])

res = pd.concat([df1, df4], axis = 0)  # axis = 0 이면 행 방향으로 자료를 추가함.
res

C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

    C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
    of pandas will change to not sort by default.

    To accept the future behavior, pass 'sort=False'.

    To retain the current behavior and silence the warning, pass 'sort=True'.
위의 셀을 실행하면 위의 메시지가 덧붙여진 상태로 표가 출력된다.

값이 정렬되지 않아 올바르지 않게 병합됐으니 정렬한 뒤에 병합하라는 메시지이고, 오류가 발생한 것은 아니다.

In [56]:
res = pd.concat([df1, df4], axis = 1, join_axes = [df1.index])
res

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

    join_axes = [df1.index]
위의 변수가 의미하는 것은 df1의 index인 0, 1, 2, 3에 포함되는 index를 가진 셀을 합병하겠다는 의미이다.

즉 df1의 index에 포함되지 않는 df4의 index = 6, 7은 합병되지 않는다.

In [57]:
res = pd.concat([df1, df4], axis = 1, ignore_index = True)  # ignore_index를 사용하면 무조건 열 기준으로 데이터를 합병한다.
res

     0    1    2    3    4    5    6
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [58]:
left = pd.DataFrame({"key": ["K0", "K4", "K2", "K3"],
                     "A": ["A0", "A1", "A2", "A3"],
                     "B": ["B0", "B1", "B2", "B3"],
                    })

right = pd.DataFrame({"key": ["K0", "K1", "K2", "K3"],
                     "C": ["C0", "C1", "C2", "C3"],
                     "D": ["D0", "D1", "D2", "D3"],
                    })

In [59]:
left

  key   A   B
0  K0  A0  B0
1  K4  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [60]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [61]:
pd.merge(left, right, on = "key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [62]:
pd.merge(left, right, how = "right", on = "key")  # pd.concat은 단순히 데이터를 덧붙이기만 하지만, merge는 데이터를 '병합'하기 때문에 처리 방법을 다양하게 정의할 수 있다.

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K2   A2   B2  C2  D2
2  K3   A3   B3  C3  D3
3  K1  NaN  NaN  C1  D1

In [63]:
pd.merge(left, right, how = "left", on = "key")

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

    pd.merge(left, right, how = "left", on = "key")
on 변수는 두 데이터셋을 병합할 때 두 데이터셋에서 공통으로 존재하는지 판단할 기준을 설정하는 변수이다.

how 변수는 병합할 때 어떤 테이블을 기준으로 병합할지를 정한다.

In [64]:
pd.merge(left, right, how = "outer", on = "key")

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [65]:
pd.merge(left, right, how = "inner", on = "key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

#### 중요!!
    how = ["outer", "inner"]
how 변수에 outer를 넣으면 

inner를 넣으면